<form action="/users" method="post">
  <label for="email">Email:
    <input type="text" name="email" >
  </label>
  <label for="password">Password:
    <input type="password" name="password" >
  </label>
  <label for="verify_password">Verify Password:
    <input type="password" name="verify_password" >
  </label>
  <input type="submit" value="Sign up">
</form>